.contact {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.section-header {
    margin-top: 10%;
    letter-spacing: .5rem;
    text-align: center;
    color: #3FBC9D;
    font-family: 'Roboto Mono', monospace;
}