@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');


.nav-logo {
    font-family: 'Bungee Shade', cursive;
    font-size: 44px;
    cursor: pointer;
    background-image: linear-gradient(90deg, rgba(63, 188, 157, .8), #7cb3f3ff, #91a2faff, #e2a5efff, #ece2bfff);
    background-clip: text;
    color: transparent;
    text-decoration: none;
    transition: .5s ease-in;
}

.nav-logo:hover {
    color: white;
}

.nav-menu {
    width: 100%;
    background-color: #221E1F;
}

.social-icon {
    cursor: pointer;
    font-size: 30px;
}

.nav-link-gradient {
    font-size: 22px;
    font-family: 'Roboto Condensed', sans-serif;
    background-image: linear-gradient(90deg, rgba(63, 188, 157, .8), #7cb3f3ff, #91a2faff, #e2a5efff, #ece2bfff);
    background-clip: text;
    color: transparent;
    cursor: pointer;
    text-decoration: none;
}

.nav-link-gradient:hover {
    color: white;
}

