@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* .projects {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100vw;
} */

.border-gradient {
    border: 5px solid black;
    border-top: 15px solid;
    border-color: #91a2faff;
}

.project-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

.project-item {
    height: 200px;
    width: 250px;
    transition: .25s ease-in;
    transform-origin: bottom left;
}

.project-item:hover {
    border-image: linear-gradient(90deg, rgba(63, 188, 157, .8), #7cb3f3ff, #91a2faff, #e2a5efff, #ece2bfff) 1;
    transform: rotate(-5deg);
}

.project-text {
    text-align: center;
    margin-top: 1rem;
    letter-spacing: .5rem;
    color: #3FBC9D;
}

.section-header {
    margin-top: 10%;
    letter-spacing: .5rem;
    text-align: center;
    color: #3FBC9D;
    font-family: 'Roboto Mono', monospace;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .project-text {
        letter-spacing: .25rem;
    }

    .project-item-container {
        margin: 1rem 0;
    }
}